.footer-container {
    padding: 8rem 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 60px;
}
.footer {
    width: 100%;
    height: auto;
    background: $dark-blue-footer;

    &__logo {
        margin-left: 1rem;
        width: fit-content;
    }
    &__container-contact {
        color: $white;
        text-align: start;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "icon-l text-l"
        "icon-p text-p"
        "icon-e text-e";
        gap: 20px;
    }
    &__container-contact p {
        line-height: 2rem;
    }
    &__container-contact img {
        width: 15px;
        margin: 8px auto;
    }
    &__container-contact img:nth-child(1){
        grid-area: icon-l;
    }
    &__container-contact img:nth-child(3){
        grid-area: icon-p;
        width: 18px;
    }
    &__container-contact img:nth-child(5){
        grid-area: icon-e;
        width: 20px;
    }
    &__container-contact p:nth-child(2){
        grid-area: text-l;
        max-width: 400px;
    }
    &__container-contact p:nth-child(4){
        grid-area: text-p;
    }
    &__container-contact p:nth-child(6){
        grid-area: text-e;
    }


    &__container-links-1, &__container-links-2 {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__container-links-1 a, &__container-links-2 a {
        text-decoration: none;
        color: $white;
        opacity: .8;
    }
    &__container-links-1 a:hover, &__container-links-2 a:hover {
        opacity: 1;
    }


    &__container-social {
        margin: 0 auto;
        display: flex;
        gap: 20px;
    }
    &__container-social img{
        align-self: flex-start;
        width: 40px;
        cursor: pointer;
    }
    &__container-social img:hover{
        filter: saturate(.1);
    }
}
@media (min-width: 768px) {
    .footer-container {
        width: fit-content;
        margin: 0 auto;
    }
    .footer {
        &__container-contact p{
            line-height: 3rem;
        }
    }
}
@media (min-width: 1024px) {
    .footer-container {
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto;
        grid-template-areas:
        "logo logo logo logo"
        "contact links1 links2 social";
    }
    .footer {
        &__logo {
            grid-area: logo;
        }
        &__container-contact {
            grid-area: contact;
        }
        &__container-links-1 {
            grid-area: links1;
        }
        &__container-links-2 {
            grid-area: links2;
        }
        &__container-social {
            grid-area: social;
        }
    
        &__container-contact {
            grid-template-areas:
            "icon-l text-l icon-p text-p"
            "icon-l text-l icon-e text-e";
        }
    }
}