$font-heading: 'Open Sans', sans-serif;
$font-body: 'Raleway', sans-serif;

// Colors
// intro and email sign up background
$dark-blue: #1c2431;
// main background
$dark-blue-main: #181f2a;
// footer background
$dark-blue-footer: #0b1523;
// testimonials background
$dark-blue-testimonials: #202a3c;
// inside call-to-action gradient
$cyan: #65e2d9;
// inside call-to-action gradient
$blue: #339ecc;
// error
$light-red: #ff4242;
// neutral
$white: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: $dark-blue;
}
h1 {
    font-size: 2rem;    
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h1, h2, h3 {
    font-family: $font-heading;
}
p, a, li, button {
    font-family: $font-body;
    font-size: 1.4rem;
}
main {
    overflow: hidden;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.4rem;    
    }
    
    h2 {
        font-size: 2.2rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    p, a, li, button {
        font-size: 1.8rem;
    }
    
    .home {
        &__heading, &__body, &__btn {
            line-height: 3rem;
        }
    }
    .team {
        &__body p {
            line-height: 3rem;
        }
    }
    .signin {
        & form {
            width: auto;
        }
        & form p {
            line-height: 3rem;
        }
        &__container-input-button {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 2fr 1fr;
            gap: 0 30px;
        }
        &__container-input-button input {
            font-size: 1.8rem;
        }
    }
}