.team {
    width: 100%;
    height: auto;
    padding: 5rem 2rem;
    background-color: $dark-blue-main;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 4rem;

    
    &__header {
        max-width: 300px;
    }
    &__header img {
        width: 100%;
    }
    &__body {
        max-width: 300px;
        text-align: start;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__body p {
        line-height: 2rem;
    }
    &__body a {
        width: fit-content;
        padding-bottom: 0.5rem;
        text-decoration: none;
        border-bottom: 1px solid $cyan;
        color: $cyan;
        display: flex;
        align-items: center;
    }
    &__body a:hover, &__body a img:hover {
        margin-left: 10px;
        border-bottom: 1px solid $white;
        transition: 400ms;
        color: $white;
        filter: grayscale(1);
    }
    &__body a img:hover {
        margin-left: 0;
        border: none;
    }
    &__body a img {
        width: 30px;
        padding-left: 1rem;
    }
}