h1 {
    font-size: 2.4rem;    
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}
p, a, li, button {
    font-size: 1.8rem;
}

.home {
    &__heading, &__body, &__btn {
        line-height: 3rem;
    }
}
.stay-productive {
    &__body p {
        line-height: 3rem;
    }
}
.get-started {
    & form {
        width: auto;
    }
    & form p {
        line-height: 3rem;
    }
    &__container-input-button {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
@media (min-width: 940px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        gap: 10rem 10rem;
        
        &__card--body p{
            line-height: 2.5rem;
        }
    }
    .stay-productive {
        flex-direction: row;
        place-content: center;
        gap: 6rem;

        &__body h2 {
            width: 40%;
        }
        &__body p {
            line-height: 3rem;
        }
        &__header{
            max-width: 600px;
        }
        &__body {
            max-width: 600px;
        }
    }
    .testimonials__container {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(2, 420px);
        gap: 0 40px;
    }
}